################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.db-shm
*.db-wal
*.opendb
/.vs/ProjectSettings.json
*.sqlite
/.vs/ServerBase/v17/.suo
/.vs/VSWorkspaceState.json
/BaseCommon/Proj2017/.vs/BaseCommon/v15/.suo
/.vs
/BaseCommon/CommonLinux/AsyncDB
/BaseCommon/CommonLinux/Async
*.gitignore
/BaseCommon/CommonLinux/JsonLib/libuv/include/build/gyp/.travis.yml
/BaseCommon/Proj2017/.vs/BaseCommon/v17
.vs
ServerRun
ServerRun2
