################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.db-shm
*.db-wal
*.opendb
/.vs/ProjectSettings.json
*.sqlite
/.vs/ServerBase/v17/.suo
/.vs/VSWorkspaceState.json
/BaseCommon/Proj2017/.vs/BaseCommon/v15/.suo
/.vs
/BaseCommon/CommonLinux/AsyncDB
/BaseCommon/CommonLinux/Async
*.gitignore
/BaseCommon/CommonLinux/JsonLib/libuv/include/build/gyp/.travis.yml
/BaseCommon/Proj2017/.vs/BaseCommon/v17
.vs
ServerRun
ServerRun2
build
/Document/分散式DB设计.~ml
/Client/Library
/Client/obj
/Client/Temp
/GameServer/ServerTest/x64/Debug
/GameServer/x64/DebugDevelop
/BaseCommon/ActorDBLib/x64/Debug
/GameServer/.idea/.idea.GameServer_Actor/.idea
/Client/.idea
/GameServer/Debug
/Client/Logs
/Client/Assets/GameRun.txt
/Client/Assets/GameRun.txt.meta
/Client/.vsconfig
/Client/Assembly-CSharp-Editor.csproj
/Client/Assembly-CSharp.csproj
/Client/Client.sln
StandaloneWindows64
EmbedRuntime
HybridCLRData
